{% extends 'master.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="{% url 'login' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="" autocomplete="new-password" required>
        </div>
        <div class="form-group">
            <button type="submit">Log In</button>
        </div>
    </form>

    <p class="signup-text">
        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
    </p>
</div>
{% endblock %}